@use './settings' as *;

body {
    font-family: $font-base;
    font-size: $font-size-base;
    color: $color-dark;
    background: $color-light;


    background: var(--color-bg);
    color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.2;
}

p {
    margin-bottom: $spacing-unit;
}